<div
  class="cell"
  [id]="id"
  [ngClass]="{
    cellMoveBlack: moved && isBlack && !isCheckmate && !isCheckmate,
    cellMoveWhite: moved && !isBlack && !isCheckmate && !isCheckmate,
    black: isBlack && !moved && !isInCheck && !isCheckmate,
    white: !isBlack && !moved && !isInCheck && !isCheckmate,
    checkmate: isCheckmate,
    inCheck: isInCheck
  }"
  cdkDropList
  cdkDropListSortingDisabled
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="piece"
    [tabindex]="cell.piece"
    [class]="cell.piece"
    cdkDrag
    [cdkDragDisabled]="cell.piece == ''"
  >
    <div class="cdkDragHandle" cdkDragHandle></div>
  </div>
</div>
