.cell {
  float: left;
  width: 12.5%;
  height: 100%;
}
.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview {
  opacity: 1;
}

img {
  object-fit: contain;
  width: inherit;
  height: inherit;
}

.cdkDragHandle {
  position: absolute;
  width: 50%;
  height: 65%;
  top: 20%;
  left: 24%;
}

.cellMoveBlack {
  background-color: rgba(18, 188, 201, 0.678);
}

.cellMoveWhite {
  background-color: rgba(41, 217, 230, 0.678);
}

.black {
  background-color: rgba(56, 91, 119, 0.3);
}

.black:hover {
  background-color: rgba(84, 118, 145, 0.3);
}

.white {
  background-color: rgba(105, 149, 184, 0.3);
}

.white:hover {
  background-color: rgba(136, 173, 204, 0.3);
}

.piece {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.r {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/br.png?raw=true');
}

.n {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/bk.png?raw=true');
}

.b {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/acezoo_bb.png?raw=true');
}

.q {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/andrea_botez_bq.png?raw=true');
}

.k {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/Jo_bk.png?raw=true');
}

.p {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/bp.png?raw=true');
}

.R {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/wr.png?raw=true');
}

.B {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/acezoo_wb.png?raw=true');
}

.Q {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/andrea_botez_wq.png?raw=true');
}

.K {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/Jo_wk.png?raw=true');
}

.P {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/wp.png?raw=true');
}

.N {
  background-image: url('https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/wk.png?raw=true');
}

.inCheck {
  background-color: rgba(208, 125, 0, 0.952);
}

.checkmate {
  background-color: rgba(231, 5, 5, 0.685);
}
