h1,
h2,
div {
  text-align: center;
}

#title {
  border-radius: 5px;
  height: 70px;
  background: url('https://yt3.ggpht.com/uEnpLIKSL4Urddqo80WRke2DC84nR_g_otUU4MWNKQMdn79UKXDytCFc-3scQ1cymQ-r2Ne8ZA=s88-c-k-c0x00ffffff-no-rj');
  color: white;
  font-size: 35px;
  padding-top: 15px;
  text-shadow: -2px 2px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-left: auto;
  margin-right: auto;
  animation: 2s ease 0s 1 expands forwards;
  max-width: 90vw;
  min-width: 200px;
}

#banner {
  text-align: center;
}

@keyframes expands {
  0% {
    width: 200px;
  }
  100% {
    width: 90vw;
  }
}
