#chessboard {
  position: absolute;
  width: 96vw;
  height: 96vw;
  display: flex;
  flex-direction: column;
  right: 2vw;
  left: 2vw;
}

#row {
  width: inherit;
  height: inherit;
  overflow: auto;
}
