#chessboard {
  width: 100%;
}

table {
  --main-border-color: rgb(8, 54, 54);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid  var(--main-border-color);
  background-color: var(--main-border-color);
  text-align: center;
}
