#chessboard {
  width: 90vw;
  height: 90vw;
  max-width: 550px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border: rgba(255, 255, 255, 0.8) solid;
  border-radius: 1%;
  position: relative;
  transform-origin: initial;
}

#joPlayer {
  width: 90vw;
  height: 8vh;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 5px;
  img {
    object-fit: contain;
    flex: 10;
    width: 100;
    align-content: left;
    border-radius: 15px;
  }
  #hcontainer {
    flex: 90;
    margin-left: 10px;
    padding-bottom: 5px;

    #joMsg {
      padding: 5px;
      height: 60%;
      width: fit-content;
      margin-top: auto;
      color: white;
      font-size: 1em;
      opacity: 1;
      border: 2px solid white;
      border-radius: 7px 7px 15px 1px;
    }
    #joMsg.animated {
      /* animation: 5s ease 0s 1 showMessage forwards; */
    }
    #joNameRating {
      height: 4%;
      color: white;
      font-weight: bold;
      font-style: italic;
      font-size: 1em;
    }
  }
}

@keyframes showMessage {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.row {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  overflow: auto;
}

.gif-container {
  width: 31vw;
  height: 10vw;
  position: absolute;
  top: 40%;
  left: 45%;
  margin-left: -16vw;
  margin-top: -5vw;
  z-index: 10;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes show-gif {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#btnContainer {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: inline-block;
  color: white;
  border-radius: 5px;
  font-size: medium;
  /*animation: 2s ease 0s 1 expandsScale forwards;*/
  height: 35px;
  text-align: center;
}

#twoPlayersBtn {
  display: inline-block;
  margin: 5px;
}

#iaBtn {
  display: inline-block;
  margin: 5px;
}
