<div id="btnContainer">
  <button id="restart" (click)="resetBoard()">Restart game</button>
  <!--button id="iaBtn" (click)="test()">Test</button-->
</div>
<div id="joPlayer">
  <div id="joImgContainer">
    <img
      src="https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/Jo_Evil.png?raw=true"
    />
  </div>
  <div id="hcontainer">
    <div id="joMsg"></div>
    <div id="joNameRating">Joachim 2200</div>
  </div>
</div>
<div id="chessboard" cdkDropListGroup [ngClass]="{ mate: isCheckmate }">
  <div
    class="gif-container"
    id="{{ 'gif-container' + i }}"
    *ngFor="let gif of gifs; let i = index"
  >
    <img id="{{ 'gif' + i }}" [src]="gif.url" />
  </div>
  <div class="row" *ngFor="let row of chessBoard; let i = index">
    <chesscell
      *ngFor="let cell of row"
      [cell]="cell"
      [gameStatus]="gameStatus"
    ></chesscell>
  </div>
</div>
<div id="promote">
  --- PROMOTION ---
  <div id="queenChoice" class="choicePiece">QUEEN</div>
  <div id="rookChoice" class="choicePiece">ROOK</div>
  <div id="bishopChoice" class="choicePiece">BISHOP</div>
  <div id="knightChoice" class="choicePiece">KNIGHT</div>
</div>
<!--<div>Pos Rating {{ lastPositionRating }}</div>
<div>Mate Rating {{ gameStatus.turn.eval['1'][1] }}</div>
<div>Position Level {{ positionLevel }}</div>> 
