#chessboard {
  width: 96vw;
  height: 96vw;
  max-width: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border: rgba(255, 255, 255, 0.8) solid;
  border-radius: 1%;
  position: relative;
  animation: 1.5s cubic-bezier(0.4, 0.81, 0.62, 1.18) 0s 1 expandsScale forwards;
  transform-origin: initial;
}

@keyframes expandsScale {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.row {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  overflow: auto;
}

.gif-container {
  width: 220;
  height: 170;
  position: absolute;
  top: 33%;
  left: 40%;
  z-index: 10;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes show-gif {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#btnContainer {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: inline-block;
  color: white;
  border-radius: 5px;
  font-size: ;
  animation: 2s ease 0s 1 expandsScale forwards;
  height: 35px;
  text-align: center;
}

#twoPlayersBtn {
  display: inline-block;
  margin: 5px;
}

#iaBtn {
  display: inline-block;
  margin: 5px;
}
