<div id="btnContainer">
  <button id="restart" (click)="resetBoard()">Restart game</button>
  <!--button id="iaBtn" (click)="test()">Test</button-->
</div>
<div id="joPlayer">
  <div id="joImgContainer">
    <img
      src="https://github.com/Arnaud-Bdr/chess-pelo/blob/master/src/app/assets/pieces/Jo_Evil.png?raw=true"
    />
  </div>
  <div id="hcontainer">
    <div id="joMsg"></div>
    <div id="joNameRating">Joachim 2666</div>
  </div>
</div>
<div id="chessboard" cdkDropListGroup>
  <div
    class="gif-container"
    id="{{ 'gif-container' + i }}"
    *ngFor="let gif of gifs; let i = index"
  >
    <img id="{{ 'gif' + i }}" [src]="gif.url" />
  </div>
  <div class="row" *ngFor="let row of chessBoard; let i = index">
    <chesscell *ngFor="let cell of row" [cell]="cell"></chesscell>
  </div>
</div>
