/* Add application styles & imports to this file! */
body {
  background : linear-gradient(#e66465, #9198e5);
  background-size: 100%;
  /* background-color: rgba(72, 135, 139, 0.836); */
}

p,h1,h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color : rgb(32, 29, 34)
}